<!DOCTYPE html>
<html>
<head>
  <script>
    // function validateForm() {
    //   var x = document.forms["myForm"]["hash"].value;
    //   if (x == "" || x == null) {
    //     alert("Data must be filled out");
    //     return false;
    //   }
    // }
  </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
<h3> Do the Transaction</h3>

<div class="container">
  <form name="myForm" action="/login" method="POST">
    <label for="fname">Data</label>
    <input type="text" name="hash" placeholder="Enter the data want to send..">

    <label for="lname">Data 2</label>
    <input type="text" name="hash" placeholder="Enter data2 if you want">
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>